<h1>Verify the Username</h1>


<fieldset class="fieldset-style">
    <legend>Step 1 : Verify Username</legend>
    
    <label>Enter the Username: </label>
    <input type="text" [(ngModel)]="username"> &nbsp; &nbsp; 
    <span *ngIf="error_msg !=''">{{error_msg}} </span>
    <br /> <br />
    <button (click)="onSubmit()" [disabled]="!status">Verify Username</button>
</fieldset>
<br /> <br />
<div *ngIf="showSecurityBox">
    <fieldset class="fieldset-style">
        <legend>Step 2 : Verify Security Answer</legend>
        <label>
            Security Question: {{dto?.securityQuestion}}
        </label>
        <br /> <br />
        <label>Security Answer:</label> <br/>
        <input type = "text" [(ngModel)]="answer">
        <br /> <br />
        <button (click) ="onQuestionSubmit()"> Submit Answer</button>
    </fieldset>
</div>