<!-- Commenting out to create a form -->
<!--
<h1>ANGULAR PROJECT</h1>
<app-calc></app-calc>
<app-array></app-array>
<app-address></app-address>

<app-employee-add></app-employee-add>
<app-employee-add-reactive></app-employee-add-reactive>
<app-employee-list [data] = "employees"></app-employee-list>
-->

<div class="navbar">
  <span>
    <a routerLink="/dashboard">Dashboard</a> &nbsp;&nbsp;&nbsp;
    <a routerLink="/posts">Posts</a> &nbsp;&nbsp;&nbsp;
    <a routerLink="/products">Products</a> &nbsp;&nbsp;&nbsp;
    <a routerLink="/category">Category</a> &nbsp;&nbsp;&nbsp;
    <a routerLink="/employee">Employee</a> &nbsp;&nbsp;&nbsp;
    
  </span>
  
  <div class="status">  
    <span *ngIf="username != ''">
      Welcome {{username}} &nbsp; &nbsp;&nbsp; &nbsp;
      <a routerLink="/logout">Logout</a>
      
    </span>
    <span *ngIf="username == ''">
      <a routerLink="/login">Login</a>

    </span>
  </div>
  
  <hr>
  
    
  </div>
  
  <div>
    <router-outlet></router-outlet>
  </div>




