<!-- Commenting out to create a form -->
<!--
<h1>ANGULAR PROJECT</h1>
<app-calc></app-calc>
<app-array></app-array>
<app-address></app-address>

<app-employee-add></app-employee-add>
<app-employee-add-reactive></app-employee-add-reactive>
<app-employee-list [data] = "employees"></app-employee-list>
-->

<div class = "navbar">
    <a routerLink="/dashboard"> Dashboard</a> &nbsp; &nbsp; &nbsp; &nbsp;
    <a routerLink="/posts">Posts</a>&nbsp;&nbsp;&nbsp;&nbsp; 
    <a routerLink = "/category"> Category</a> &nbsp;&nbsp;&nbsp;&nbsp;
    <hr>
</div>
<div>
    <router-outlet></router-outlet>

</div>




