<p>Sign Up Form</p>
<form (submit)="onFormSubmit()" [formGroup]="signUpForm">
    <label>
        Enter Name:
    </label>
    <input type = "text" name = "name" formControlName = "name">
    <br/> <br />
    <label>
        Enter  User Name:
    </label>
    <input type = "text" name = "username" formControlName = "username">
    <br/> <br />
    <label>
        Enter Password:
    </label>
    <input type = "password"  name = "password" formControlName = "password">
    <br /> <br />
    <label> Select Role:</label>
    <select formControlName="role">
        <option value = "ADMIN"> ADMIN</option>
        <option value = "USER"> USER</option>
    </select>
    <br /> <br/>
    <label>
        Enter  Security Question:
    </label>
    <input type = "text" name = "securityQuestion" formControlName = "securityQuestion">
    <br/> <br />
    <label>
        Enter  Security Answer:
    </label>
    <input type = "text" name = "securityAnswer" formControlName = "securityAnswer">
    <br/> <br />
    <input type="submit" value="Signup" [disabled]="!signUpForm.valid">
</form>
