<h1>Employee Add Form -Template Based</h1> 
<div>
    <form (submit)="onFormSubmit(employeeForm)" #employeeForm="ngForm">
        <label>Enter Employee Name: </label>
        <input type="text" name="name" ngModel #name = "ngModel" 
                required pattern="[a-zA-Z ]+">
            <span *ngIf="name.invalid && name.touched">
                <span *ngIf="name.errors['required']">
                    Name is required
                </span>
                <span *ngIf="name.errors['pattern']">
                    Name must follow pattern: [a-zA-Z ]+
                </span>
            </span>
       
        <br /> <br />
        <label>Enter Employee City: </label>
        <input type="text" name="city" ngModel #city = "ngModel"
                required pattern="[a-zA-Z0-9 ]+">
            <span *ngIf="city.invalid && city.touched">
                <span *ngIf="city.errors['required']">
                    City is required
                </span>
                <span *ngIf="city.errors['pattern']">
                    City must follow pattern: [a-zA-Z0-9 ]+
                </span>
            </span>
                
        <br /> <br />
        <label>Enter Employee Salary: </label>
        <input type="text" name="salary" ngModel #salary="ngModel"
                required pattern="[0-9]+" minlength="4" maxlength="10">
                <span *ngIf="salary.invalid && salary.touched">
                    <span *ngIf="salary.errors['required']">
                        Salary is Required
                    </span>
                    <span *ngIf="salary.errors['pattern']">
                        Salary must follow pattern: [0-9 ]+
                    </span>
                    <span *ngIf="salary.errors['minlength']">
                        Minimum length of salary required is 4.
                    </span>
                    <span *ngIf="salary.errors['maxlength']">
                        Maximum length of salary allowed is 10.
                    </span>
                </span>
    
        <br /> <br />
        <label>Enter Employee Dept: </label>
        <input type="text" name="department" ngModel #department="ngModel"
                required pattern="[a-zA-Z0-9 ]+">
            <span *ngIf="department.invalid && department.touched">
                <span *ngIf="department.errors['required']">
                    Department name is required
                </span>
                <span *ngIf="department.errors['pattern']">
                    Department name must follow pattern: [a-zA-Z ]+
                </span>
            </span>
        <br /> <br />
        <input type="submit" value="Add Employee" [disabled]="!employeeForm.valid">
    
    </form>

</div>
